Ejecutar-Pago/src/wsdl/localhost_8080/Saldos-Service/SaldosService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://www.modval.aes.puj.edu.co/saldo/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://www.modval.aes.puj.edu.co/saldo/schemas">

<xs:element name="Consultar" nillable="true" type="tns:ConsultarSaldoReq"/>

<xs:element name="ConsultarCuenta" nillable="true" type="tns:ConsultarCuentaReq"/>

<xs:element name="ConsultarCuentaReq" type="tns:ConsultarCuentaReq"/>

<xs:element name="ConsultarCuentasResp" type="tns:ConsultarCuentasResp"/>

<xs:element name="ConsultarSaldoReq" type="tns:ConsultarSaldoReq"/>

<xs:element name="ConsultarSaldoResp" type="tns:ConsultarSaldoResp"/>

<xs:element name="ModificarCuenta" nillable="true" type="tns:ModificarCuentaReq"/>

<xs:element name="ModificarCuentaReq" type="tns:ModificarCuentaReq"/>

<xs:element name="Respuesta" nillable="true" type="xs:anyType"/>

<xs:complexType name="ConsultarCuentasResp">
<xs:sequence>
<xs:element name="numero" type="xs:string"/>
<xs:element name="saldo" type="xs:double"/>
<xs:element name="mensajeError" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarSaldoReq">
<xs:sequence>
<xs:element name="usuarioId" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModificarCuentaReq">
<xs:sequence>
<xs:element name="usuarioId" type="xs:string"/>
<xs:element name="numero" type="xs:string"/>
<xs:element name="descuento" type="xs:double"/>
<xs:element name="aumento" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarSaldoResp">
<xs:sequence>
<xs:element name="cuentas" type="tns:Cuentas"/>
<xs:element name="usuarioId" type="xs:string"/>
<xs:element name="mensajeError" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Cuentas">
<xs:sequence>
<xs:element name="ConsultarCuentasResp" type="tns:ConsultarCuentasResp" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarCuentaReq">
<xs:sequence>
<xs:element name="usuarioId" type="xs:string"/>
<xs:element name="numero" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>