Ejecutar-Pago/src/wsdl/localhost_8080/Saldos-Service/SaldosService.wsdl_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:tns="http://www.modval.aes.puj.edu.co/saldo/schemas" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.modval.aes.puj.edu.co/saldo/schemas">
<types>
<xsd:schema>
<xsd:import namespace="http://www.modval.aes.puj.edu.co/saldo/schemas" schemaLocation="http://localhost:8080/Saldos-Service/SaldosService?xsd=1"/>
</xsd:schema>
</types>
<message name="ModificarCuenta">
<part name="ModificarCuenta" element="tns:ModificarCuenta"/>
</message>
<message name="ModificarCuentaResponse">
<part name="Input" element="tns:Respuesta"/>
</message>
<message name="ConsultarCuenta">
<part name="ConsultarCuenta" element="tns:ConsultarCuenta"/>
</message>
<message name="ConsultarCuentaResponse">
<part name="Input" element="tns:Respuesta"/>
</message>
<message name="Consultar">
<part name="Consultar" element="tns:Consultar"/>
</message>
<message name="ConsultarResponse">
<part name="Input" element="tns:Respuesta"/>
</message>
<portType name="ISaldos">
<operation name="ModificarCuenta">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="modificarCuenta" message="tns:ModificarCuenta"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://www.modval.aes.puj.edu.co/saldo/schemas/ISaldos/ModificarCuentaResponse" message="tns:ModificarCuentaResponse"/>
</operation>
<operation name="ConsultarCuenta">
<input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="consultarCuenta" message="tns:ConsultarCuenta"/>
<output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://www.modval.aes.puj.edu.co/saldo/schemas/ISaldos/ConsultarCuentaResponse" message="tns:ConsultarCuentaResponse"/>
</operation>
<operation name="Consultar">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="consultar" message="tns:Consultar"/>
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://www.modval.aes.puj.edu.co/saldo/schemas/ISaldos/ConsultarResponse" message="tns:ConsultarResponse"/>
</operation>
</portType>
</definitions>