Consultar-Pago-Service/src/wsdl/localhost_8080/Dispatcher-Service/ConsultarFacturaService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://www.modval.aes.puj.edu.co/modyval/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://www.modval.aes.puj.edu.co/modyval/schemas">

<xs:element name="Peticion" nillable="true" type="tns:EjecutarPagoReq"/>

<xs:element name="Peticion1" nillable="true" type="tns:ConsultarFacturaReq"/>

<xs:element name="Respuesta" nillable="true" type="tns:ConsultarFacturaResp"/>

<xs:complexType name="EjecutarPagoReq">
<xs:sequence>
<xs:element name="factura" type="tns:ConsultarFacturaReq"/>
<xs:element name="cuenta" type="tns:ConsultarCuentaReq"/>
<xs:element name="valor" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarFacturaReq">
<xs:sequence>
<xs:element name="idFactura" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarCuentaReq">
<xs:sequence>
<xs:element name="usuarioId" type="xs:string"/>
<xs:element name="numero" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultarFacturaResp">
<xs:sequence>
<xs:element name="idFactura" type="xs:string"/>
<xs:element name="valorFactura" type="xs:double"/>
<xs:element name="mensajeError" type="xs:string"/>
<xs:element name="codigoError" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>