Ejecutar-Pago/src/wsdl/localhost_8080/Dispatcher-Service/ConsultarFacturaService.wsdl_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:tns="http://www.modval.aes.puj.edu.co/consulta/schemas" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.modval.aes.puj.edu.co/consulta/schemas">
<types>
<xsd:schema>
<xsd:import namespace="http://www.modval.aes.puj.edu.co/consulta/schemas" schemaLocation="http://localhost:8080/Dispatcher-Service/ConsultarFacturaService?xsd=1"/>
</xsd:schema>
</types>
<message name="Pagar">
<part name="Input" element="tns:Peticion"/>
</message>
<message name="PagarResponse">
<part name="Input" element="tns:Respuesta"/>
</message>
<message name="Compensar">
<part name="Input" element="tns:Peticion"/>
</message>
<message name="CompensarResponse">
<part name="Input" element="tns:Respuesta"/>
</message>
<message name="Consultar">
<part name="Input" element="tns:Peticion"/>
</message>
<message name="ConsultarResponse">
<part name="Input" element="tns:Respuesta"/>
</message>
<portType name="IConsultarFactura">
<operation name="Pagar">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="pagar" message="tns:Pagar"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://www.modval.aes.puj.edu.co/consulta/schemas/IConsultarFactura/PagarResponse" message="tns:PagarResponse"/>
</operation>
<operation name="Compensar">
<input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="compensar" message="tns:Compensar"/>
<output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://www.modval.aes.puj.edu.co/consulta/schemas/IConsultarFactura/CompensarResponse" message="tns:CompensarResponse"/>
</operation>
<operation name="Consultar">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="consultar" message="tns:Consultar"/>
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://www.modval.aes.puj.edu.co/consulta/schemas/IConsultarFactura/ConsultarResponse" message="tns:ConsultarResponse"/>
</operation>
</portType>
</definitions>